
/*--------------------------------------------------------------
# Font Color
--------------------------------------------------------------*/
a {
  color: #98ab3f;
}
a:visited,
a:hover,
a:focus,
a:active {
  color: #98ab3f;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a{
  color:#404040;
}
.fc-1,
.site-header label:before,
.site-footer .information span.fa,
.site-header .search-field,
.site-footer .information a:hover,
.site-footer .footer-menu a:hover,
.site-footer .footer-menu .current-menu-item > a{
  color: #98ab3f;
}
::-webkit-input-placeholder { color: #98ab3f;}
::-moz-placeholder { color: #98ab3f;}
:-ms-input-placeholder { color: #98ab3f;}
:-moz-placeholder { color: #98ab3f;}

.site-footer a:hover,
.site-footer a:visited,
.site-footer .information,
.site-footer .information a,
.site-footer .footer-menu a,
.site-header .search-field:focus,
.smart-forms .btn-primary,
.contact .media .fa {
  color:#FFF;
}
.smart-forms .btn-primary:hover,
.smart-forms .btn-primary:focus{
  color:#111;
}
/*--------------------------------------------------------------
# Background
--------------------------------------------------------------*/
.bgc-1{
  background-color:#23282a;
}
.bgc-2{
  background-color: #FFF;
}
.contact .media .fa,
.smart-forms .btn-primary{
  background-color: #98ab3f;
}
.smart-forms .btn-primary:hover,
.smart-forms .btn-primary:focus{
  background-color: #E8E8E8;
}
/*--------------------------------------------------------------
# Border Color
--------------------------------------------------------------*/
.bdc-1,
.site-header .header-wrap-1,
.site-header .search-field,
.smart-forms .gui-input:hover,
.smart-forms .gui-textarea:hover,
.smart-forms .select > select:hover,
.smart-forms .select-multiple select:hover,
.smart-forms .select > select:focus,
.smart-forms .select-multiple select:focus{
  border-color:#98ab3f !important
}
.site-footer .footer-menu{
  border-color: rgba(255,255,255, 0.3);
}
/*--------------------------------------------------------------
# box-shadow
--------------------------------------------------------------*/
.smart-forms .gui-input:focus,
.smart-forms .gui-textarea:focus,
.smart-forms .select > select:focus,
.smart-forms .select-multiple select:focus{
  -webkit-box-shadow: 0px 0px 3px #98ab3f inset;
  -moz-box-shadow: 0px 0px 3px #98ab3f inset;
  -o-box-shadow: 0px 0px 3px #98ab3f inset;
  box-shadow: 0px 0px 3px #98ab3f inset;
}
